body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "nav nav nav nav nav" 
                    ". titulo titulo titulo ." 
            ". descripcion descripcion descripcion .";
}

.nav { grid-area: nav; }

.titulo { grid-area: titulo; }

.descripcion { grid-area: descripcion; }
